name: Lint
on: [pull_request]

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Lint
        uses: docker://ghcr.io/realm/swiftlint:0.53.0
        with:
          args: lint --quiet --strict --reporter github-actions-logging